---
import { Footer } from '@/partials/Footer';
import { Navbar } from '@/partials/Navbar';
import { AppConfig } from '@/utils/AppConfig';

export interface Props {
  head: {
    title: string;
    description: string;
  };
}

const {
  head: { title, description },
} = Astro.props as Props;
---

<html lang="id">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />

    <title>{title}</title>
    <meta name="description" content={description} />
    <meta name="author" content={AppConfig.author} />

    <!-- Favicon -->
    <link rel="icon" type="image/png" href="/assets/images/UIUX.png" />

    <!-- RSS Feed -->
    <link rel="alternate" type="application/rss+xml" href="/rss.xml" />

    <!-- Open Graph -->
    <meta property="og:title" content={title} />
    <meta property="og:description" content={description} />
    <meta property="og:image" content="/assets/images/UIUX.png" />
    <meta property="og:url" content="https://yourdomain.com" />
    <meta property="og:type" content="website" />

    <!-- Twitter Card -->
    <meta name="Youtube:card" content="summary_large_image" />
    <meta name="Youtube:title" content={title} />
    <meta name="Youtube:description" content={description} />
    <meta name="Youtube:image" content="/assets/images/UIUX.png" />
  </head>

  <body class="bg-slate-900 text-gray-100">
    <Navbar />

    <slot></slot>

    <Footer />
  </body>
</html>
